# BigCommerce API
BIGCOMMERCE_STORE_HASH=jtttoporzj
BIGCOMMERCE_ACCESS_TOKEN=mdv5lluhdwz5ca86z7i06t268r66ong
BIGCOMMERCE_CLIENT_ID=go4hslazt4464d451z7do9u6zdts70o
BIGCOMMERCE_CLIENT_SECRET=fd7c97b1913106ffef0f2ddffee3ee6375013901ad95c33ea9186bcffbaca151
BIGCOMMERCE_CHANNEL_ID=1

# Square API
SQUARE_ACCESS_TOKEN=EAAAl1vzfn6Cgc2I1igQ8_G3V1qRD67ax7MYY2CVlf7-IMAxEi5sPllUoyYBYJNK
VITE_SQUARE_APPLICATION_ID=sq0idp-Ax3q0SqLPOhtGcUnC6YsOg
VITE_SQUARE_LOCATION_ID=M22XGM76XXKXW

# Other
STAFF_PASSWORD=
APP_URL=
RESEND_API_KEY=
