# BigCommerce API
BIGCOMMERCE_STORE_HASH=
BIGCOMMERCE_ACCESS_TOKEN=
BIGCOMMERCE_CLIENT_ID=
BIGCOMMERCE_CLIENT_SECRET=
BIGCOMMERCE_CHANNEL_ID=

# Square API
SQUARE_ACCESS_TOKEN=
VITE_SQUARE_APPLICATION_ID=
VITE_SQUARE_LOCATION_ID=

# Other
STAFF_PASSWORD=
APP_URL=
RESEND_API_KEY=
